.portfolio-card {
  background: #f5f8fd;
}

.portfo-title {
  font-size: 50px;
  font-style: italic;

  font-weight: bold;
  color: #173b6c;
  padding: 20px 0px 0px 0px;

}

.portfo-para {
  font-family: Roboto;
  font-size: 19px;
}

.portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17vw;
  height: 40px;
}

.filter {
  padding: 15px;
  font-size: 14px;
  background-color: transparent;
  border-width: 0px;
  font-weight: 500;
 
}
.filter_dynamic{
  color: #149ddd;
}

.portfolio-card {
  background: #f5f8fd;
}

.img-fluid {
  max-width: 100%;
  height: 31vh;
  margin-right: 20px;
}

.images-card {
  display: flex;
  flex-wrap: wrap;
}