.portfo-title{
          font-size: 37px;
          font-weight: bold;
          color: #173b6c;
          padding-bottom: 10px;
          padding-top:30px;
}
.portfo-para{
          font-family: Roboto;  
          font-size:19px;
}